.reservation form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.reservation label {
  margin-top: 10px;
  font-weight: bold;
}

.reservation input,
.reservation select {
  padding: 8px;
  margin-top: 5px;
}

.reservation button {
  margin-top: 20px;
  padding: 10px;
  background-color: #d6a25e;
  color: white;
  border: none;
  cursor: pointer;
}

.reservation button:hover {
  background-color: #b9894a;
}
